In [77]:
import plotly as pl
from dash import Dash, dcc, html
from dash.dependencies import Input, Output
from dash.exceptions import PreventUpdate as PV
import plotly.express as px
import pandas as pd
import seaborn as sns

app = Dash(__name__)

In [78]:
education = pd.read_csv("states_all.csv",
                        usecols=["STATE", "YEAR", "TOTAL_EXPENDITURE"])

In [79]:
education.head()

        STATE  YEAR  TOTAL_EXPENDITURE
0     ALABAMA  1992          2653798.0
1      ALASKA  1992           972488.0
2     ARIZONA  1992          3401580.0
3    ARKANSAS  1992          1743022.0
4  CALIFORNIA  1992         27138832.0

In [80]:
app.layout = html.Div([
    html.H1(id="title"),
    dcc.Dropdown(options=education["STATE"].unique(), id="state-input"),
    dcc.Graph(
        id="visual"
    ),
    html.H3(id="state-output")
])

In [81]:
@app.callback(Output("visual", "figure"), Input("state-input", "value"))
def state_graph(selection):
    year = 1992
    df = education.query(f"STATE == '{selection}' & YEAR > {year}")
    fig = px.scatter(
        df,
        x="YEAR",
        y="TOTAL_EXPENDITURE",
        title=f"Expenditure in {selection}"
    )
    return fig

In [ ]:
if __name__ == '__main__':
    app.run(port=8051, DEBUG=True)

: